$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$grey: #EEE;
$row-padding: 10px;

.jumbotron{
  margin-bottom: 15px;
}

.row{
  //padding-top: $row-padding;
  padding-bottom: $row-padding;
}

.btn{
  float: right;
  margin: 20px 20px 20px 0px;
}

.company{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
  background-color: $grey;
  border-radius: 30px;
  min-height: 344px;
  //margin-left: 35%;
}

img{
  width: 344px;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
}
.image {
  margin: auto;

}

.text{
  margin: auto;
  padding: 20px;
  width: auto;
  max-width: 700px;
  //flex-shrink: 1;
}

.show-text{
  margin-left: 0;
  width: 100%;
}
