$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$grey: #CCC;
$row-padding: 10px;

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row{
  padding-top: $row-padding;
  padding-bottom: $row-padding;
}

.company{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
  background-color: $grey;
  height: 210px;
  width: 364px;
  margin-left: 40%;
  border-radius: 30px;
}

.image {
  height: 177px;
  width: 344px;
  margin: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.image-construction{
  background-image: url("../images/construction.png")
}

.image-equestrian{
  background-image: url("../images/equestrian.png")

}

.image-paramedical{
  background-image: url("../images/paramedical.png")
}

.text{
  margin: auto;
  max-width: 400px;
  flex-shrink: 1;
}

.show-text{
  min-width: 364px;
  width: 100%;
  height: auto;
  margin-left: 0;
}
